body {
  background-color: #FBCFE8;
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden;
}

.images {
  height: 20vh;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #E2725B;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 10px;
  width: fit-content;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.heart-particle {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  animation: fly-out 1s ease-out forwards;
}

@keyframes fly-out {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y))) scale(0);
    opacity: 0;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

.stats p {
  align-self: flex-start;
  width: 100%;
  text-align: left;
  margin: 5px;
}

.gifs {
  display: flex;
  height: 20vh;
  gap: 20px;
}

.gifContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  text-align: center;
  width: 100%;
  max-width: 320px; /* Keeps it from stretching too wide */
  margin-top: 20px;
}

label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}

input[type='text'] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}
